ellipsis()
    overflow  hidden
    text-overflow  ellipsis
    display  -webkit-box
    -webkit-box-orient  vertical
flex-center()
    display flex
    justify-content center
    align-items center
flex-between($direction=row)
    display flex
    justify-content: space-between
    align-items: center
    flex-direction: $direction